body {
    font-family: sans-serif;
    background-color: white;
    color: black;
}

h1, h2 {
    font-family: Arial;
    color: black;
}

#main-header {
    background-color: rgb(252, 255, 221);
    color: black;
    text-align: center;
    border-bottom: 1px solid black;
}