body {
    font-family: sans-serif;
    background-color: white;
    color: black;
}

h1, h2 {
    font-family: Arial;
    color: black;
}

#main-header {
    background-color: rgb(242, 250, 170);
    color: black;
    text-align: right;
    border-bottom: 1px solid black;
}